body {
    margin: 0 auto;
}

header {
    background-color: #87509c;
}

.nav {
    display: flex;
    list-style: none;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    margin: 10px;
    padding: 15px;
    text-transform: uppercase;
    color: white;
}

.block1 {
    background-color: #87509c;
    text-align: center;
    padding: 100px 0px;
    text-transform: uppercase;
    color: white;
}

.block1 button {
    margin-top: 50px;
}

.block2 {
    background-color:#17c2a4;
    color: white;
    text-align: center;
}

h2 {
    margin-top: 0px;
    padding-top: 115px;
    font-size: 40px;
    text-transform: uppercase;
}

.box {
    padding-top: 17px;
    font-size: 18px;
}

.block3 h3 {
    text-transform: uppercase;
}
.block3 {
    display: flex;
    padding-top: 85px;
    padding-left: 185px;
    padding-right: 185px;
    justify-content: space-around;
    align-items: center;
}

.headsection1 {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.block3 div {
    padding-left: 25px;
    padding-right: 25px;
}
.block4 {
    background-color: #e7f1f8;
    text-align: center;
    padding-top: 5px ;
    align-items: center;
    justify-content: space-around;
}

.block4 h2 {
    color: #3c4761;
    font-size: 42px;
}

.box2 {
    color: #3c4761;
    font-size: 20px;
}

.box3 {
    display: flex;
    padding-top: 85px;
    padding-left: 185px;
    padding-right: 185px;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    display: flex;
    text-align: center;
    padding-left: 75px;
    padding-right: 50px;
    list-style: none;
}

.social-icons li {
    text-align: center;
    
}

svg {
 padding-top: 80px;
 margin-left: 40px;
 margin-right: 40px;
}

.block5 {
    text-align: center;
    color: #ffffff;
}

.block5 h2 {
    color: #3c4761;
}

.box4 {
    color: #3c4761;
    font-size: 20px;
}
.unite1 {
    color: #87509c;
}